*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
}

body{
    font-family: 'poppins' , sans-serif;
   

}

.main{
    margin-left: 300px;
}
.project{
    background-image:url(/bac.jpeg);
   
    
    /* background-repeat: no-repeat; */
    height: 720px;
    width: 100%;
    background-position: center;
    background-size: cover;
    
    
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:80px 0px 0px 0px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.countdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
    text-align: center;
    padding-top: 20px;
    flex-wrap: wrap;
    
   
  

}

.bigtext{
    font-size: 50px;
    margin: 0px 2rem;
    line-height: 1;
    font-weight: bold;
}

.countdown-container span{
    font-size: 1.5rem;
    
}
